# Object files
*.o

# Python
*.pyc
*.pyd
*.egg-info
lib/*

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X
.DS_Store

# S3cr3ts
*.pem
*.key
*.p12

# Dependencies
openssl*/*
zlib-*/*

# Build result
MANIFEST
build/*
dist/*

.idea/*